#profileCard {
  width: 50px;
  padding: ________;
  border: 50px solid black;
  margin:50px;
  background-color: blue;
}
.p {
  font-size: 12px;
  font-weight: normal;
  text-align: center;
}
h2  {
  font-size: 25px;
  color: green;
  text-align: center;
}


